footer {
    @include box-sizing(border-box);
    @include clearfix;
    text-align: left;
    font-size: 1em;
    padding:1em 0;
    background: #6e6c6d;
    color: #fff;
    .container{
        @include gutter();
        >div{
            padding-bottom: 1em;
        }
    }
    a {
        text-decoration: none;
        color: $primaryColor;
        &:hover,
        &:focus {
            color: darken($primaryColor, 10);
        }
    }
    .footer_info {
        @include gutter();
    }
    p {
        // line-height: 3.2;
        padding: 1em 0;
        margin: 0;
    }
    .Copyright{
        border-bottom: solid 1px #fff;
    }
}
